[Desktop Entry]
Icon=text-html
Name=https://baobabsoluciones.es/blog/2020/10/01/problema-del-viajante/
Type=Link
URL[$e]=https://baobabsoluciones.es/blog/2020/10/01/problema-del-viajante/
