[Desktop Entry]
Icon=text-html
Name=https://www.sciencedirect.com/science/article/pii/S1405774315721074
Type=Link
URL[$e]=https://www.sciencedirect.com/science/article/pii/S1405774315721074
