[Desktop Entry]
Icon=text-html
Name=https://www.sciencedirect.com/science/article/pii/S0303264797017085?via%3Dihub
Type=Link
URL[$e]=https://www.sciencedirect.com/science/article/pii/S0303264797017085?via%3Dihub
