[Desktop Entry]
Icon=text-html
Name=https://en.wikipedia.org/wiki/Connectivity_(graph_theory)
Type=Link
URL[$e]=https://en.wikipedia.org/wiki/Connectivity_(graph_theory)
