[Desktop Entry]
Icon=text-html
Name=https://en.wikipedia.org/wiki/Travelling_salesman_problem
Type=Link
URL[$e]=https://en.wikipedia.org/wiki/Travelling_salesman_problem
