/old
/build
/dist
/__pycache__
/server/dynamic
/server/__pycache__
/modules/__pycache__
/.VSCodeCounter
/.venv
/target
mission.yaml
PLI_NOGUI.spec
PLI.spec
kml_Tower_Testing.ipynb
graphs_test.py
xml_test.py
solver_testing.py
maps_image.py
test.png
scip_testing.py
scip_model.cip
scip_model_DFJ.cip
sim_test.py
yaml_old.py
yaml_test.py
mission_px4.plan
